<div class="menu">
  <div class="menuMain" (click)="showHide()">
    File
  </div>
  <div class="fileEdit" [ngStyle]="menuVisible()">
    <div>
      <label for="file" class="custom-file-upload">
        <input type="file" id="file"  (change)="handleFileInput($event)" onclick="this.value= null;"> Open File....
      </label>
    </div>
    <div class="menuContainer" (click)="download('download')">
      Save
    </div>
    <div class="menuContainer" (click)="download('downloadAs')">
      Save As....
    </div>
  </div>
</div>
<div class="body">
  <div class="contnent">
    <div class="authContainer">
      <div class="authVarBox">
        <div class="tokenVars">
          <div class="tokenVar">
            <label class="authlabel">Token: </label>
            <input type="text" id="auth" class="tokenInput">
          </div>
          <div class="tokenVar">
            <label class="authlabel">URL: </label>
            <input type="text" id="url" class="tokenInput">
          </div>
        </div>
        <button type="submit" (click)="authenticate()" class="authButton">Auth</button>
      </div>
      <div class="statusBox">
        <label>Status: {{status}}</label>
      </div>
    </div>
      <div class="editContainer">
        <form [formGroup]="form" id="form" name="form" (ngSubmit)="submitStyles()">
          <div class="jsonInputs">
            <div class="styleContainer">
              <div class="labelBox">
                <label>User ID</label>
              </div>
              <div class="inputNumberBox">
                <input type="text" class="styleInput" id="styleInput_-2" name="User ID" formControlName="user_id">
              </div>
            </div>
            <div class="styleContainer">
              <div class="labelBox">
                <label>Screen ID</label>
              </div>
              <div class="inputBox">
                <input type="text" class="styleInput" id="styleInput_-1" name="Screen ID" formControlName="screen_id">
              </div>
            </div>
          </div>
          <div class="styleContainers">
            <div *ngFor="let btn of btnStyles; index as i" class="styleContainer" [id]='"styleContainer_"+i'>
              <div class="labelBox">
                <label>{{btn.name}}</label>
              </div>
              <div *ngIf="isRadio(btn); then thenBlock else elseBlock"></div>
              <ng-template #thenBlock>
                <div class="inputRadioBox">
                  <input type="radio" class="styleInput" [id]='"styleInput_"+i' name={{btn.field}} formControlName={{btn.field}} value="1">
                  <label>True</label>
                </div>
                <div class="inputRadioBox">
                  <input type="radio" class="styleInput" [id]='"styleInput_"+i' name={{btn.field}} formControlName={{btn.field}} value="0">
                  <label>False</label>
                </div>
              </ng-template>
              <ng-template #elseBlock>
                <div *ngIf="isNumber(btn); then else2Block else else3Block"></div>
                <ng-template #else2Block>
                  <div class="inputNumberBox">
                    <input type="number" min="0" class="styleInput" [id]='"styleInput_"+i' name={{btn.field}} formControlName={{btn.field}}>
                  </div>
                </ng-template>
                <ng-template #else3Block>
                  <div *ngIf="isDate(btn); then else4Block else else5Block"></div>
                  <ng-template #else4Block>
                    <div class="inputDateBox">
                      <input type="date" class="styleInput" [id]='"styleInput_"+i' name={{btn.field}} formControlName={{btn.field}}>
                    </div>
                  </ng-template>
                  <ng-template #else5Block>
                    <div *ngIf="isColor(btn); then else6Block else else7Block"></div>
                    <ng-template #else6Block>
                      <div class="inputBox">
                        <input type="color" class="styleInput" [id]='"styleInput_"+i' name={{btn.field}} formControlName={{btn.field}}>
                      </div>
                    </ng-template>
                    <ng-template #else7Block>
                      <div class="inputBox">
                        <input type={{btn.type}} class="styleInput" [id]='"styleInput_"+i' name={{btn.field}} formControlName={{btn.field}}>
                      </div>
                    </ng-template>
                  </ng-template>
                </ng-template>
              </ng-template>

            </div>
            <!----------------------------------------------------------------------------------------------------------------------------------->
            <div class="styleContainer">
              <div class="labelBox">
                <label>Icons: </label>
              </div>
              <div
              class="btn-group"
              dropdown
              [isDisabled]="disabled"
              #dropdown="bs-dropdown"
              [autoClose]="autoClose"
              (mouseleave)="autoCloseDisplay()"
              >
                <button type="button" class="btn btn-svg">
                  <svg class="svg-icon icon-icon2">
                    <use
                      *ngIf="iconList === 'Android'"
                      attr.xlink:ng-href="./assets/app-icons.svg# {{ svgPath?.name }}"
                    ></use>
                    <use
                      *ngIf="iconList === 'IOS'"
                      attr.xlink:ng-href="./assets/app-ios-icons.svg#{{ svgPath?.name }}"
                    ></use>
                    <use
                      *ngIf="iconList === 'postFooter'"
                      attr.xlink:ng-href="./assets/app-features-icons.svg#{{ svgPath?.name }}"
                    ></use>
                    <use
                      *ngIf="iconList === 'markers'"
                      attr.xlink:ng-href="./assets/app-markers-icons.svg#{{ svgPath?.name }}"
                    ></use>
                  </svg>
                </button>
                <button
                  id="button-split"
                  type="button"
                  dropdownToggle
                  class="btn btn-svg dropdown-toggle dropdown-toggle-split"
                  aria-controls="dropdown-split"
                >
                  <span class="caret"></span>
                </button>

                <!-- <div *ngIf="iconList === 'Android'"> -->
                <ul
                  id="dropdown-split"
                  *dropdownMenu
                  class="dropdown-menu"
                  role="menu"
                  aria-labelledby="button-split"
                >
                  <div *ngIf="iconList === 'Android'">
                    <div class="icon-seactions" (click)="dropdown.show()">
                      <div
                        class="seaction"
                        (click)="selectIconSeaction('firstSeaction')"
                        [ngStyle]="iconFirstTabStyle"
                      >
                        General
                      </div>
                      <div
                        class="sec-seaction"
                        (click)="selectIconSeaction('secSeaction')"
                        [ngStyle]="iconSecTabStyle"
                      >
                        Action
                      </div>
                      <div
                        class="seaction"
                        (click)="selectIconSeaction('thirdSeaction')"
                        [ngStyle]="iconThirdTabStyle"
                      >
                        Social
                      </div>
                    </div>
                    <div class="icon-container" (click)="dropdown.hide()">
                      <li
                        class="icon-element"
                        *ngFor="let name of iconNames"
                        role="menuitem"
                        aria-labelledby="button-split"
                        (click)="updateItemIconEvent(name)"
                      >
                        <svg class="svg-icon icon-icon">
                          <use attr.xlink:href="./assets/app-icons.svg#{{ name }}"></use>
                        </svg>
                      </li>
                    </div>
                  </div>
                  <div *ngIf="iconList === 'IOS'">
                    <div class="icon-container" (click)="dropdown.hide()">
                      <li
                        class="icon-element"
                        *ngFor="let name of iosNames"
                        role="menuitem"
                        aria-labelledby="button-split"
                        (click)="updateItemIconEvent(name)"
                      >
                        <svg class="svg-icon icon-icon">
                          <use
                            attr.xlink:href= "./assets/app-ios-icons.svg#{{ name }}"
                          ></use>
                        </svg>
                      </li>
                    </div>
                  </div>
                  <div *ngIf="iconList === 'postFooter'">
                    <div class="icon-container" (click)="dropdown.hide()">
                      <li
                        class="icon-element"
                        *ngFor="let name of postFooterName"
                        role="menuitem"
                        aria-labelledby="button-split"
                        (click)="updateItemIconEvent(name)"
                      >
                        <svg class="svg-icon icon-icon">
                          <use
                            attr.xlink:href="./assets/app-features-icons.svg#{{ name }}"
                          ></use>
                        </svg>
                      </li>
                    </div>
                  </div>
                  <div *ngIf="iconList === 'markers'">
                    <div class="icon-container" (click)="dropdown.hide()">
                      <li
                        class="icon-element"
                        *ngFor="let name of locationIconNames"
                        role="menuitem"
                        aria-labelledby="button-split"
                        (click)="updateItemIconEvent(name)"
                      >
                        <svg class="svg-icon icon-icon">
                          <use
                            attr.xlink:href="./assets/app-markers-icons.svg#{{ name }}"
                          ></use>
                        </svg>
                      </li>
                    </div>
                  </div>
                </ul>
              <!-- </div> -->
              </div>
            </div>
<!----------------------------------------------------------------------------------------------------------------------------------->
          </div>
        </form>
      </div>
      <div class="submitContainer">
        <button type="reset" form="form" class="submitButton" (click)="clearReply()">Clear</button>
        <button type="submit" form="form" class="submitButton">Save & Send</button>
      </div>
      <textarea>
        {{serverReply}}
      </textarea>
  </div>
</div>
